@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2E3D5, #F2D194);
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(139, 88, 43, 0.527);
}

h1 {
    color: #F2994B;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(191, 121, 96, 0.623);
}

h2 {
    color: #BF7960;
}

p {
    text-align: justify;
}